<!--suppress ALL -->

<div class="row">
    <div class="col-xs-12">
        <div class="en-title">
            Futurewei Early Innovation Acceptance Summary

            <!--suppress Annotator -->
            <button class="btn  btn-xs"
                    ng-click="eias.viewEngagementUserSummary()"
                    style="float: right;margin-left: 40px; background-color: darkred; color:white;">
                View Your Engagements
            </button>

        </div>
    </div>
</div>

<div class="en-team-summary-body" id="en-team-summary-body">

    <div class="row en-team-summary-control-panel" id="en-team-summary-control-panel">


        <!--<div class="en-team-summary-selector">-->

        <div class="col-xs-1 en-team-summary-filter-title">
            Filters
            <button class="btn btn-xs en-team-summary-filter-reset-button"
                    ng-click="eias.resetFilters()">Reset
            </button>
        </div>


        <form class="form-horizontal ">
            <div class="form-group form-group-sm col-xs-3">
                <label for="filter-acceptance-status" class="control-label">Acceptance Status:</label><br>
                <select id="filter-acceptance-status" ng-model="eias.filter_acceptance_status">
                    <option>All</option>
                    <option>Incomplete Registration</option>
                    <option>Due and Overdue</option>
                    <option>Overdue Only</option>
                    <option>Closed</option>
                </select>
            </div>
        </form>


        <form class="form-horizontal ">
            <div class="form-group form-group-sm col-xs-3">
                <label for="filter-cm" class="control-label">Bizdev Owner:</label><br>
                <select class="" id="filter-cm" ng-model="eias.filter_bdOwner">

                    <option>All</option>
                    <option ng-repeat="bdOwner in eias.bizDevOwnerSearchList">{{bdOwner.profile.name}}</option>
                </select>
            </div>
        </form>


        <form class="form-horizontal ">
            <div class="form-group form-group-sm col-xs-2">
                <label for="filter-status" class="control-label">Status:</label><br>
                <select id="filter-status" ng-model="eias.filter_status" style="height: auto;
    max-height: 180px;
    overflow-y: scroll;">
                    <option>All</option>
                    <option>Active</option>
                    <option>Executing</option>
                    <option>On Hold</option>
                    <option>Closed</option>
                </select>
            </div>
        </form>

        <form class="form-horizontal ">
            <div class="form-group form-group-sm col-xs-3">
                <label for="filter-search" class="control-label">Search:</label><br>
                <input id="filter-search" class="form-control input-sm" ng-model="eias.filter_search"
                       placeholder="Filter by keyword...">
            </div>
        </form>


    </div>


    <div class=" row en-team-summary ">
        <div class="col-xs-12 ">


            <table class="table table-condensed table-head" id="en-team-summary-table-header">
                <tr>
                    <td class="en-team-summary-table-body-col-single"
                        ng-click="eias.setSortOptions('organization')"
                        style="color:darkred;"
                        title="Click to sort">Organization
                    </td>
                    <td class="en-team-summary-table-body-col-single"
                        ng-click="eias.setSortOptions('resource')"
                        style="color:darkred;"
                        title="Click to sort">Resource
                    </td>
                    <td class="en-team-summary-table-body-col-double">Subject</td>
                    <td class="en-team-summary-table-body-col-single"
                        ng-click="eias.setSortOptions('lab')"
                        style="color:darkred;"
                        title="Click to sort">Lab
                    </td>
                    <td class="en-team-summary-table-body-col-single">PM</td>
                    <td class="en-team-summary-table-body-col-single"
                        ng-click="eias.setSortOptions('bdOwner')"
                        style="color:darkred;"
                        title="Click to sort">BD Owner
                    </td>
                    <td class="en-team-summary-table-body-col-single"
                        title="Milestone Schedule Defined">Acceptance Status
                    </td>
                    <td class="en-team-summary-table-body-col-single"
                        title="Milestone Schedule Defined">Acceptance Detail
                    </td>

                    <!--                    <th class="en-team-summary-table-body-col-single">Latest</th>
                                        <th class="en-team-summary-table-body-col-single">Next Step</th>-->
                    <td class="en-team-summary-table-body-col-single"
                        ng-click="eias.setSortOptions('updated')"
                        style="color:darkred;"
                        title="Click to sort">Updated
                    </td>

                </tr>
            </table>

            <div class="en-team-summary-table-body-wrapper"
                 id="en-team-summary-table-body-wrapper">

                <table class="table table-condensed table-body"
                       infinite-scroll="eias.increaseEngagementLimit()"
                       infinite-scroll-parent>
                    <tr ng-repeat="engagement in eias.engagementCollection"
                        ng-click="eias.viewEngagementDetail(engagement._id)"
                        ng-class="eias.overdue(engagement)"
                    >

                        <td class="en-team-summary-table-body-col-single">{{engagement.contractingPartnersLabel[0]}}
                        </td>
                        <td class="en-team-summary-table-body-col-single">{{engagement.cooperationResourcesLabel[0]}}
                        </td>
                        <td class="en-team-summary-table-body-col-double">{{engagement.title}}</td>
                        <td class="en-team-summary-table-body-col-single">{{engagement.tempLab}}</td>
                        <td class="en-team-summary-table-body-col-single">{{engagement.projectManager}}</td>
                        <td class="en-team-summary-table-body-col-single">{{engagement.bdOwnerLabel}}</td>
                        <td class="en-team-summary-table-body-col-single">
                            {{engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.statusMessage}}
                        </td>
                        <td class="en-team-summary-table-body-col-single"
                            ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.statusMessage === 'Acceptance Specification Incomplete'"
                            style="text-align: left">
                            <div>
                                <i ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.scheduleComplete"
                                   style="color: #0F9D58" class="fa fa-check-circle"></i>
                                <i ng-if="!engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.scheduleComplete"
                                   style="color: red" class="fa fa-times-circle"></i>
                                <span title="Milestone Schedule">Schedule</span>
                            </div>

                            <div>
                                <i ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.criteriaComplete"
                                   style="color: #0F9D58" class="fa fa-check-circle"></i>
                                <i ng-if="!engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.criteriaComplete"
                                   style="color: red" class="fa fa-times-circle"></i>
                                <span title="Milestone Schedule">Criteria</span>
                            </div>

                            <div>
                                <i ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.teamComplete"
                                   style="color: #0F9D58" class="fa fa-check-circle"></i>
                                <i ng-if="!engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.teamComplete"
                                   style="color: red" class="fa fa-times-circle"></i>
                                <span title="Milestone Schedule">Team</span>
                            </div>

                        </td>


                        <td class="en-team-summary-table-body-col-single"
                            ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.acceptanceStatus.statusMessage !== 'Acceptance Specification Incomplete'">

                            <table align="left" style="height: 50px;">
                                <tr style="text-align: center">
                                    <td ng-repeat="payment in engagement.earlyInnovationProjectData.acceptanceAndPayments.paymentSchedule"
                                        style="border: solid grey thin;padding: 2px 3px 2px 3px; text-align: center">

                                            {{$index}}<br>


                                            <i ng-if="payment.status === 'Acceptance Complete'"
                                               style="color: #0F9D58;  "
                                               class="fa fa-check-circle"></i>

                                            <i ng-if="payment.status === 'Pending'"
                                               style="color: black  "
                                               class="fa fa-circle-o"></i>

                                            <i ng-if="payment.status === 'Due'"
                                               style="color: red  "
                                               class="fa fa-circle-o"></i>

                                            <i ng-if="payment.status === 'Overdue'"
                                               style="color: red  "
                                               class="fa fa-exclamation-circle"></i>

                                    </td>

                                    <td ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.options.additionalFinalAcceptance"
                                        style="border: solid grey thin;padding: 2px 3px 2px 3px; text-align: center">

                                            F<br>

                                            <i ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.status === 'Acceptance Complete'"
                                               style="color: #0F9D58;  "
                                               class="fa fa-check-circle"></i>

                                            <i ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.status === 'Pending'"
                                               style="color: black  "
                                               class="fa fa-circle-o"></i>

                                            <i ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.status === 'Due'"
                                               style="color: red  "
                                               class="fa fa-circle-o"></i>

                                            <i ng-if="engagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.status === 'Overdue'"
                                               style="color: red  "
                                               class="fa fa-exclamation-circle"></i>
                                    </td>


                                    <!--
                                                                        <td style="border: solid grey thin;padding: 2px 3px 2px 3px">
                                                                            1<br>
                                                                            <i style="color: #0F9D58;  "
                                                                               class="fa fa-check-circle"></i>
                                                                        </td>

                                                                        <td style="border: solid grey thin;padding: 2px 3px 2px 3px">2<br><i
                                                                                style="color: #0F9D58; "
                                                                                class="fa fa-check-circle"></i></td>
                                                                        <td style="border: solid grey thin;padding: 2px 3px 2px 3px">3<br><i
                                                                                style="color: red;"
                                                                                class="fa fa-circle-o"></i></td>
                                                                    </tr>-->
                            </table>
                        </td>


                        <!--                        <td class="en-team-summary-table-body-col-single">{{engagement.currentStatus}}</td>
                                                <td class="en-team-summary-table-body-col-single">{{engagement.nextStep}}</td>-->
                        <td class="en-team-summary-table-body-col-single">{{eias.formatDate(engagement.lastUpdated)}}
                        </td>


                    </tr>


                </table>

                <!--                <div class="en-team-summary-footer">
                                    <h2> FOOTER</h2>


                                </div>-->
            </div>


        </div> <!--column-->
    </div> <!--row-->
</div><!-- / tab panel-->


<!--
<div style="position: fixed; bottom:0">
    <h5 >Diagnostics:</h5>
    <strong>BD Owner:</strong> {{eias.engagementCollection}}
</div>
-->
