<h4>Acceptance Reports</h4>




<div style="border: black thin solid;" >

    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr style="text-align: center">

                    <th>No.</th>
                    <th>Status</th>
                    <th>Milestone</th>
                    <!-- <th>Acceptance Criteria</th>-->
                    <th>Expected Date</th>
                    <th>Actual Date</th>
                    <th>Report Template</th>
                    <th>Signed Report</th>
                </tr>
                </thead>


                <tbody>
                <tr ng-repeat="payment  in eiar.focusEngagement.earlyInnovationProjectData.acceptanceAndPayments.paymentSchedule track by $index">
                    <!--track by index because some entries are identical-->


                    <td> {{$index + 1}}</td>

                    <td><i>{{payment.status}}</i></td>

                    <td> {{payment.milestone}}</td>

                    <td>{{payment.targetDate | date:'shortDate'}}</td>
                    <td style="color: red">{{payment.actualDate | date:'shortDate'}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" ng-click="eiar.generateAcceptanceReportTemplate($index)">
                            Generate Template
                        </button>
                    </td>
                    <td>
                        <util-file-holder
                                file="payment.acceptanceReportFile"
                                run-on-drop="eiar.acceptanceReportAdded($index)"
                                run-on-delete="eiar.acceptanceReportDeleted($index)"
                                file-description="'Acceptance Report'">
                        </util-file-holder>
                    </td>


                </tr>
                <tr ng-if="eiar.focusEngagement.earlyInnovationProjectData.acceptanceAndPayments.options.additionalFinalAcceptance">
                    <!--track by index because some entries are identical-->


                    <td>F</td>

                    <td><i>{{eiar.focusEngagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.status}}</i>
                    </td>

                    <td>Post-Payment Final Acceptance Report</td>

                    <td>
                        {{eiar.focusEngagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.targetDate
                        | date:'shortDate'}}
                    </td>
                    <td style="color: red">
                        {{eiar.focusEngagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.actualDate
                        | date:'shortDate'}}
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm"
                                ng-click="eiar.generateAcceptanceReportTemplate('final')">Generate Template
                        </button>
                    </td>
                    <td>
                        <util-file-holder
                                file="eiar.focusEngagement.earlyInnovationProjectData.acceptanceAndPayments.additionalFinalAcceptance.acceptanceReportFile"
                                run-on-drop="eiar.acceptanceReportAdded('final')"
                                run-on-delete="eiar.acceptanceReportDeleted('final')"
                                file-description="'Final Acceptance Report'">
                        </util-file-holder>
                    </td>


                </tr>


                </tbody>
            </table>


        </div>  <!--col-->
    </div><!--rows-->

</div>

<!--Diagnostics: <br>
<strong>payment:</strong> {{eiar.paymentSchedule}}-->

