<select ng-model="ra.room"
  ng-options="room.name for room in ra.rooms">
</select>

<table class="gr-table">
    <tr class="gr-table-row">
        <th>Guide Title</th>
        <th>Description</th>
        <th>Visibility</th>
        <th>Articles</th>
        <th>Edit</th>
        <th>Move Up</th>
        <th>Move Down</th>
        <th>Delete</th>
    </tr>
</table>
<table class="gr-table">
    <div class="guide" ng-repeat="guideId in ra.room.childrenGuideIds">
        <guide-info guide-id="guideId", room-id="ra.room._id"></guide-info>
    </div>
</table>

<div class="alert alert-warning" role="alert" style="margin-top:10px" ng-if="ra.room._id && !ra.room.childrenGuideIds">
    There are no guides yet...
</div>

<div id="new-guides"></div>

<button ng-show="ra.room._id" ng-click="ra.addNewGuide()">Create Guide</button>