<tr class="injected-table-view">
  <td> <input type="text" ng-model="gc.guide.title"> </td>
  <td> <input type="text" ng-model="gc.guide.adminDesc"> </td>
  <td> 
    <select ng-model="gc.guide.publish" selected="preview">
      <option value="publish">Publish</option>
      <option value="preview">Preview</option>
      <option value="hide">Hide</option>
    </select>
  </td>
  <td> 0 </td>
  <td> <button ng-click="gc.submit($event)" ng-disabled="!gc.canSubmitFn()">Save</button> </td>      
  <td> <i class="fa fa-arrow-up" aria-hidden="true"></i> </td>       
  <td> <i class="fa fa-arrow-down" aria-hidden="true"></i> </td>      
  <td> <i class="fa fa-times" aria-hidden="true" style="color:red;cursor:pointer" ng-click="gc.remove($event)"></i> </td>
</tr>