<tr>
  <td> <input type="text" ng-model="ac.article.title"> </td>
  <td> <p ng-model="ac.article.body"> </td>
  <td> 
    <select ng-model="ac.article.publish" selected="preview">
      <option value="publish">Publish</option>
      <option value="preview">Preview</option>
      <option value="hide">Hide</option>
    </select>
  </td>
  <td> <button ng-click="ac.submit($event)" ng-disabled="!ac.canSubmitFn()">Save</button> </td>      
  <td> <i class="fa fa-arrow-up" aria-hidden="true"></i> </td>       
  <td> <i class="fa fa-arrow-down" aria-hidden="true"></i> </td>      
  <td> <i class="fa fa-times remove" aria-hidden="true" style="color:red;cursor:pointer" ng-click="ac.remove($event)"></i> </td>
</tr>