.dz-upload {
    display: block;
    background-color: red;
    height: 10px;
    width: 0%;
}


.fileHolder{
/*    vertical-align: middle;
    text-align: center;
    padding: 10px;
    height: 100px;
    width: 150px;
    border: dashed black thick;
    border-radius: 5px;
    background: white;*/

}

