<h3>
  {{ roomCtrl.room.name }}
</h3>



<div>
    <ul class="nav nav-tabs" role="tablist" >
        <li role="presentation" ng-repeat="guide in roomCtrl.room.guides" ng-class="{active : $index === 0 }">
          <a role="tab" tab-index="$index" data-toggle="tab" ng-click="roomCtrl.guideIndex = $index">{{ guide.title }}</a>
        </li>
    </ul>
</div>

<div id="" ng-if="roomCtrl.room.guides.count() !== 0">
  <guide guide="roomCtrl.room.guides[roomCtrl.guideIndex]"></guide>
</div>
<div class="alert alert-success" role="alert" ng-if="roomCtrl.room.guides.count() === 0" style="margin-top:10px">
    There are no guides yet...
</div>
