<div class="container-fluid">
  <div class="row" style="padding: 5px 15px 5px 15px;">
    <h3 style="margin-bottom:0px"> 
      {{ rc.room.name }}
    </h3>
    <h4 style="margin-top:0px"><small>{{ rc.room.adminDesc }}</small></h4>

    <div>
        <ul class="nav nav-tabs" role="tablist" >
            <li role="presentation" ng-repeat="guide in rc.guides" ng-class="{ active: $first }">
              <a role="tab" tab-index="$index" data-toggle="tab" ng-click="rc.setGuide(guide)">
               {{ guide.title }}
              </a>
            </li>
        </ul>
    </div>

    <div ng-if="rc.guides.count() !== 0">
        <div ng-if="rc.articles.count() !== 0">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Articles</h4>
                    <table class="gr-table">
                        <tr>
                            <th class="gr-table-row">Article</th>
                            <th class="gr-table-row">Body</th>
                            <th class="gr-table-row">Created by</th>
                            <th class="gr-table-row">Last modified by</th>
                            <th class="gr-table-row">Created on</th>
                            <th class="gr-table-row">Last modified on</th>
                        </tr>
                        <tr ng-repeat="article in rc.articles" ui-sref="{{ rc.articleDetailSref }}({ articleId: article._id })">
                            <td class="gr-table-row gr-table-row-clickable" style="font-weight: bold">{{ article.title }}</td>
                            <td class="gr-table-row gr-table-row-clickable"> <div froala-view="rc.substring(article.body, 75)"></div> </td>
                            <td class="gr-table-row gr-table-row-clickable"><username user-id="article.createdById"></username></td>
                            <td class="gr-table-row gr-table-row-clickable"><username user-id="article.modifiedById"></username></td>
                            <td class="gr-table-row gr-table-row-clickable">{{ article.creationDate | amDateFormat: 'ddd, MMM Do YYYY' }}</td>
                            <td class="gr-table-row gr-table-row-clickable">{{ article.modifiedDate | amDateFormat: 'ddd, MMM Do YYYY' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="alert alert-warning" role="alert" ng-show="gd.articles.count() === 0" style="margin-top:10px">
            There are no articles yet...
        </div>
    </div>
    <div class="alert alert-warning" role="alert" ng-if="rc.guides.count() === 0" style="margin-top:10px">
        There are no guides yet...
    </div>
  </div>
</div>