.gr-table {
  font-family: arial, sans-serif;
  width: 100%;
}

tr > .gr-table-row {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr > .gr-table-row-clickable {
  cursor: pointer;
}