<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">

            <div class="page-header">
                <div style="display:inline-block;float:right;text-align:center">
                    <div>
                        <a href="#" editable-select="ae.editedArticle.publish" e-ng-options="s.value as s.text for s in ae.xEditableVisStatuses"
                            e-ng-change="ae.articleChanged = true" buttons="no">
                            {{ ae.showXEditableVisStatus() }}
                        </a>
                        <br/>
                        <i>VISIBILITY</i>
                    </div>
                    <div ng-show="ae.isEditingArticle()">
                        <button type="button" class="btn btn-primary" ng-click="ae.update()" ng-disabled="!ae.canSaveData()">Save</button>
                        <button type="button" class="btn btn-default" ng-click="ae.reset()">Cancel</button>
                    </div>
                </div>
                <h1><a href="#" editable-text="ae.editedArticle.title" e-label="Article Title"
                    e-ng-change="ae.articleChanged = true">{{ ae.editedArticle.title || '' }}</a></h1>
                <h3 style="margin-top:0px">
                    <small>
                        <username user-id="ae.article.createdById"></username> -
                        {{ ae.article.modifiedDate | amDateFormat: 'ddd, MMM Do YYYY' }}
                    </small>
                </h3>
            </div>

            <div froala-view="ae.article.body" ng-click="ae.editBody()" ng-hide="ae.isEditingBody()" style="cursor:pointer"></div>
            <textarea class="froala" froala="ae.froalaOptions"
                ng-model="ae.editedArticle.body" ng-if="ae.isEditingBody()"></textarea>
        </div>

        <div class="col-sm-3">
            <div class="jumbotron" data-spy="affix">
                Coming Soon
            </div>
        </div>
    </div>
</div>