<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">

            <div class="page-header">
                <div style="display:inline-block;float:right;text-align:center">
                    <a href="#" editable-select="ae.article.publish" e-ng-options="s.value as s.text for s in ae.xEditableVisStatuses"
                        onaftersave="ae.updateArticle()" buttons="no">
                            {{ ae.showXEditableVisStatus() }}
                    </a>
                    <br/>
                    <i>VISIBILITY</i>
                </div>
                <h1><a href="#" editable-text="ae.article.title" e-label="Article Title" e-required
                    onaftersave="ae.updateArticle()">{{ ae.article.title || '' }}</a></h1>
                <h3 style="margin-top:0px">
                    <small>
                        <username user-id="ae.article.createdById"></username> -
                        {{ ae.article.modifiedDate | amDateFormat: 'ddd, MMM Do YYYY' }}
                    </small>
                </h3>
            </div>

            <div froala-view="ae.articleBody" ng-click="ae.editBody()" ng-hide="ae.isEditingBody()" style="cursor:pointer"></div>
            <textarea class="froala" froala="ae.froalaOptions"
                ng-model="ae.articleBody" ng-if="ae.isEditingBody()"></textarea>
            <div ng-show="ae.isEditingBody()">
                <button type="button" class="btn btn-primary" ng-click="ae.updateBody()" ng-disabled="!ae.canSaveBody()">Save</button>
                <button type="button" class="btn btn-default" ng-click="ae.resetBody()">Cancel</button>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="jumbotron" data-spy="affix">
                Coming Soon
            </div>
        </div>
    </div>
</div>