<div class="fullscreen-bg">
    <video loop muted autoplay poster="/video/briefing-center.jpg" class="fullscreen-bg__video">
        <source ng-src="video/briefing-center.webm" type="video/webm">
        <source ng-src="video/briefing-center.mp4" type="video/mp4">
    </video>
</div>


<div class="row" style="height: 100%">


    <div class="col-xs-12" style="height: 100%">


        <div class="db-home-title">
            <span style="font-family: 'Helvetica'; font-size: 20px; color: white; text-align: center">Welcome to </span>
            <span style="font-family: 'Brush Script MT'; font-size: 52px; color: red; text-outline:  text-align: center">Miz</span>
            <span style="font-family: 'Helvetica'; font-size: 20px; color: white; text-align: center">: The Futurewei Partner Platform </span>
        </div>

    </div>
</div>

<div class="row dash-item-home-body" style="height: 100%">


    <div class="col-xs-4 dash-item-home-leftcol">

        <div class="dash-item-home-article">
            <h3>New to Miz?</h3>
            <h4>Here's how Miz can help you keep <u><i><a href="https://en.wikipedia.org/wiki/Mise_en_place"
                                                          target="_blank">everything in place</a></i></u></h4>

            <dl>
                <dt>Designed for Personal Productivity
                </dt>
                <dd>Miz is an optimized Partner Relationship tool designed to minimize effort. It takes only seconds to
                    create a log entry for each moment of progress, and you’ll never need to search for an attachment
                    buried in Outlook.
                </dd>
            </dl>

            <dl>
                <dt>Designed for Team Insight
                </dt>
                <dd>
                    Miz tracks relationships between universities and their key research, companies, VCs, incubators, as
                    well as between labs and their partners. Quickly find out who we've worked with before.
                </dd>
            </dl>


            <dl>
                <dt>Keep the Tool Box Open
                <dt>
                <dd>Miz includes updated templates for Technical Cooperation and Early Innovation projects, including
                    agreements, forms, and overviews of processes.
                </dd>
            </dl>


        </div>


        <br>

        <div class="dash-item-home-article ">
            <h3> What's New</h3>

            <h4 class="dash-item-home-article">Miz Beta .068 Released: Run fast, Run far.</h4>


                <p>Several improvements have been made that dramatically speed up Miz's engagement pages.  Refinements
                    for scale have also been added.  Miz has been tested with 1 million partners, over 50,000 engagements,
                    and 1.25 million log entries, yet is still highly responsive.



            See the full change log <a href="documentation/development_log.txt" target="_blank">here.</a>


            <br>

        </div>
    </div>


    <div class="col-xs-3"></div>

    <!--<div class="col-xs-4" style="height: 100%">-->
        <!--<div class="dash-item-home-article">-->
            <!--<h3>Two Enhancements that Make the Miz Experience Better</h3>-->

            <!--<h4>Use Chrome</h4>-->

            <!--<dl>-->
                <!--<dt><a href="https://www.google.com/chrome/browser/" target="_blank">Download</a></dt>-->
                <!--<dd>Miz was developed with HTML5 and tested with Chrome. While Miz should work with any modern browser,-->
                    <!--older versions of IE may not fare so well.-->
                <!--</dd>-->
            <!--</dl>-->


            <!--<h4>Install Outlook2Web</h4>-->

            <!--<dl>-->
                <!--<dt><a href="/software/Outlook2Web.exe" download target="_blank">Download</a><br>-->
                    <!--<span class="o2w-serial">Your unique serial number is: {{db_home.o2w_serial}} </span>-->

                <!--</dt>-->
                <!--<dd>Outlook doesn't permit drag-and-drop of attachments or messages to web pages. Outlook2Web enables-->
                    <!--this functionality with any webpage.-->
                <!--</dd>-->
            <!--</dl>-->


            <!--<br>-->

        <!--</div>-->
        <!--<br>-->


    <!--</div>-->
</div>



