table {
  font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  padding-right: 160px;
}