<div style="display:inline-block;float:right;text-align:center">
    <div ng-show="ga.isEditingGuide()">
        <button type="button" class="btn btn-primary" style="float:right" ng-click="ga.update()" ng-disabled="!ga.canSaveData()">Save</button>
        <button type="button" class="btn btn-default" style="float:right" ng-click="ga.reset()">Cancel</button>
    </div>
    <div>
        <a href="#" editable-select="ga.editedGuide.publish" e-ng-options="s.value as s.text for s in ga.xEditableVisStatuses"
            e-ng-change="ga.guideChanged = true" buttons="no">
            {{ ga.showXEditableVisStatus(ga.editedGuide) }}
        </a>
        <br/>
        <i>VISIBILITY</i>
    </div>
</div>

Title: <a href="#" editable-text="ga.editedGuide.title" e-label="Guide Title" e-ng-change="ga.guideChanged = true">{{ ga.editedGuide.title || 'Guide Title' }}</a>
<br/>
Description: <a href="#" editable-text="ga.editedGuide.adminDesc" e-label="Admin Description" e-ng-change="ga.guideChanged = true">{{ ga.editedGuide.adminDesc || 'Guide Description' }}</a>

<table class="gr-table" id="new-articles">
    <tr class="gr-table-row">
        <th>Article</th>
        <th>Updated</th>
        <th>Updated By</th>
        <th>Publish</th>
        <th>Edit</th>
        <th>Move Up</th>
        <th>Move Down</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="article in ga.articles">
        <td> {{ article.title }} </td>
        <td> {{ article.modifiedDate | amDateFormat: 'ddd, MMM Do YYYY' }} </td>
        <td> <username user-id="article.modifiedById"></username> </td>
        <td> {{ article.publish }} </td>
        <td> <i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="ga.editArticle(article._id)"></i> </td>
        <td> <i class="fa fa-arrow-up" aria-hidden="true" style="cursor:pointer"></i> </td>       
        <td> <i class="fa fa-arrow-down" aria-hidden="true" style="cursor:pointer"></i> </td>      
        <td> <i class="fa fa-times" aria-hidden="true" style="color:red;cursor:pointer" data-toggle="modal"
            data-target="#delete-article-confirm-modal" ng-click="ga.articleIdToDelete = article._id"></i> </td>
    </tr>
</table>

<div class="modal fade" id="delete-article-confirm-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete Article?</h4>
                        <small style="color: darkgrey">
                            Are you sure you want to delete this article?
                        </small>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button"
                        ng-click="ga.articleIdToDelete = -1"
                        class="btn btn-primary" data-dismiss="modal">No
                    </button>
                    <button type="button"
                    ng-click="ga.deleteArticle()"
                    class="btn btn-primary" data-dismiss="modal">Yes
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    

<div class="alert alert-warning" role="alert" style="margin-top:10px" ng-if="!ga.guide.childrenArticleIds">
    There are no articles yet...
</div>

<button type="button" class="btn btn-primary" 
    ng-show="ga.editedGuide._id" ng-click="ga.addNewArticle()" ng-disabled="ga.canAddNewArticle()">Create Article +</button>