Title: <a href="#" editable-text="ga.editedGuide.title" e-label="Guide Title" e-ng-change="ga.guideChanged = true">{{ ga.editedGuide.title || 'Guide Title' }}</a>
<br/>
Description: <a href="#" editable-text="ga.editedGuide.adminDesc" e-label="Admin Description" e-ng-change="ga.guideChanged = true">{{ ga.editedGuide.adminDesc || 'Guide Description' }}</a>

<div ng-show="ga.isEditingGuide()">
    <button type="button" class="btn btn-primary" style="float:right" ng-click="ga.update()" ng-disabled="!ga.canSaveData()">Save</button>
    <button type="button" class="btn btn-default" style="float:right" ng-click="ga.reset()">Cancel</button>
</div>

<table class="gr-table">
    <tr class="gr-table-row">
        <th>Article</th>
        <th>Updated</th>
        <th>Updated By</th>
        <th>Publish</th>
        <th>Edit</th>
        <th>Move Up</th>
        <th>Move Down</th>
        <th>Delete</th>
    </tr>
</table>
<table>
    <div ng-repeat="articleId in ga.guide.childrenArticleIds">
        <article-info article-id="articleId" guide-id="ga.guide._id"></article-info>
    </div>
</table>

<div class="alert alert-warning" role="alert" style="margin-top:10px" ng-if="!ga.guide.childrenArticleIds">
    There are no articles yet...
</div>

<div id="new-articles">
</div>

<button ng-click="ga.addNewArticle()">Create Article</button>